/* BANNER CSS */
#home {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 17%;
  padding-left: 7%;
  padding-right: 7%;
  min-height: 100vh;
}

.banner {
  margin-top: 0;
  padding: 260px 0 100px 0;
  background-color: #0a192f;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.my-name {
  color: #64ffda;
}
.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
}
.banner h1 {
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}
.banner p {
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}
.banner button {
  color: #0a192f;
  font-weight: 700;
  font-size: 20px;
  margin-top: 60px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
}
.banner button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}
.banner button:hover svg {
  margin-left: 25px;
}
.banner img {
  animation: updown 3s linear infinite;
}

/* .banner-title-fix {
  
} */

.banner-text a::before {
  content: "";
  width: 42px;
  height: 42px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}

.banner-text a:hover::before {
  transform: scale(1);
}

.banner-text button {
  font-weight: 700;
  color: #fff;
  border: 1px solid #64ffda;
  padding: 18px 34px;
  font-size: 18px;
  margin-left: 18px;
  position: relative;
 
  background: rgba(217, 217, 217, 0.1);
  transition: 0.3s ease-in-out;
}
.banner-text button span {
  z-index: 1;
}
.banner-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.banner-text button:hover {
  color: #121212;
  background-color: #ffffff56;
}
.banner-text button:hover::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
}
@keyframes updown {
    0% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(-20px);
    }
}
.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}