#projects {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 17%;
    padding-left: 7%;
    padding-right: 7%;
    min-height: 100vh;
    overflow: hidden;
}